.header {
  position: absolute;
  top: 3.625rem;
  left: 0;
  right: 0;

  .container {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
  }

  &-disclaimer {
    position: absolute;
    top: 0.3125rem;
    right: 8.1875rem;
    max-width: 13rem;
    margin: 0;
    font-size: 0.625rem;
    line-height: 1.4;
  }

  @media (--phone) {
    top: 3rem;
  }
}
.nav {
  position: relative;
  margin-right: auto;

  @media (--phone) {
    width: 100%;
  }

  &-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (--phone) {
      position: absolute;
      top: 3.92rem;
      left: 0;
      right: 0;
      z-index: 1;
      display: none;
      flex-wrap: wrap;
      background-color: #fff;
      margin: 0 -0.9375rem;
    }
    
    &__item {

      @media (--phone) {
        padding: 1.875rem;
        font-size: 1.5rem;
        text-transform: uppercase;
      }
      a {
        color: var(--font-color);
        text-decoration: none;
        
        &:hover {
          text-decoration: underline;
        }
      }
      
      + .nav-list__item {
        margin-left: 1.875rem;
        
        @media (--phone) {
          margin-left: 0;
        }
      }

      @media (--phone) {
        flex-basis: 100%;
      }
    }
  }
  &-toggle {
    position: absolute;
    display: none;
    border: none;
    width: 2.03rem;
    height: 2.03rem;
    background: linear-gradient(to bottom, #000 20%, transparent 21%, transparent 40%, 
    #000 41%, #000 60%, transparent 61%, transparent 80%, #000 81%);

    &.is-active {
      background: linear-gradient(45deg, transparent 45%, #000 46%, #000 55%, transparent 56%), 
    linear-gradient(-45deg, transparent 45%, #000 46%, #000 55%, transparent 56%);

      + .nav-list {
        display: block;
      }
    }
    @media (--phone) {
      display: block;
    }
  }
}
.chovnyk-logo {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.5rem;
  height: 6.5rem;
  background-color: var(--primary-color);
}
