.help {
  padding: 4.375rem 0;
  color: var(--secondary-font-color);
  min-height: 56.875rem;
  background: var(--hero-bg-color) url('../../../assets/help-bg.jpg') center/cover no-repeat;
  box-sizing: border-box;

  @media (--phone) {
    min-height: auto;
    padding-bottom: 9.375rem;
    background-position: right center;
  }

  &-content {
    max-width: 26.5625rem;
  }
  &-heading {
    margin: 0;
    font-size: 3.75rem;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;

    @media(--phone) {
      font-size: 3.4375rem;
    }
  }
  &-text {
    margin: 2.5rem 0;
    font-size: 1.1875rem;
    line-height: 1.5;
  }
}