.stories {

img {
  width: 314px;
  height: 218px;
  object-fit: cover;
}

  &-heading {
    margin: 0;
    font-size: 6.4375rem;
    line-height: 1.281;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 0.1875rem solid;

    @media(--phone) {
      font-size: 4.4375rem;
    }
  }
  &-subheading {
    font-size: 1.25rem;
    line-height: 1.3;
  }
  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3.125rem;

    @media(--phone) {
      grid-template-columns: 1fr 1fr;
    }
    @media(--sm-phone) {
      grid-template-columns: 1fr;
    }
    
    &__item {
      margin-bottom: 3.125rem;
      padding: 1.25rem 1.125rem;
      transition: background-color var(--transition-duration);

      @media(--sm-phone) {
        width: 18.75rem;
        margin-right: auto;
        margin-left: auto;
      }

      &:hover {
        background-color: var(--primary-color);
      }

      h3 {
        margin: 1.875rem 0 0.625rem;
        font-size: 1.875rem;
        line-height: 1.2;
        font-weight: 400;
      }
      p {
        margin: 0;
        font-size: 1.125rem;
        line-height: 1.4;
      }
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}