.about {
  padding: 6.875rem 0;

  .container {
    display: flex;
  }
  .col {
    &:first-child {
      padding-right: 3.125rem;
    }
    &:last-child {
      padding-left: 3.125rem;
    }
  }
  &-heading {
    margin: 0;
    font-size: 6.4375rem;
    line-height: 1.281;
    font-weight: 400;
    text-transform: uppercase;
  }
  &-img {
    margin-top: 0.625rem;
  }
  &-description {
    margin-top: -3.125rem;
    color: var(--alt-font-color);
    font-size: 1.25rem;
    line-height: 1.3;

    span {
      padding: 0.3125rem;
      background-color: var(--font-bg-color);
    }
  }
  &-text {
    p {
      margin: 0 0 1.875rem;
      font-size: 0.9375rem;
      line-height: 1.6;
    }
  }
}