.stories {

  &-heading {
    margin: 0;
    font-size: 6.4375rem;
    line-height: 1.281;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 0.1875rem solid;
  }
  &-subheading {
    font-size: 1.25rem;
    line-height: 1.3;
  }
  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3.125rem;
    
    &__item {
      margin-bottom: 3.125rem;
      padding: 1.25rem 1.125rem;
      transition: background-color var(--transition-duration);

      &:hover {
        background-color: var(--primary-color);
        cursor: pointer;
      }

      h3 {
        margin: 1.875rem 0 0.625rem;
        font-size: 1.875rem;
        line-height: 1.2;
        font-weight: 400;
      }
      p {
        margin: 0;
        font-size: 1.125rem;
        line-height: 1.4;
      }
    }
  }
}