  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Світлодолинське</title>

  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">

  <meta name="description" content="Світлодолинське – село було засноване в 1804 році вихідцями з Західної Пруссії і названо на честь прусського села Ліхтенау (Lichtenau)." />

  <meta property="og:url"         content="https://svetlodolinskoe.od.ua/" />
  <meta property="og:type"        content="website" />
  <meta property="og:title"       content="Світлодолинське" />
  <meta property="og:description" content="Світлодолинське – село було засноване в 1804 році вихідцями з Західної Пруссії і названо на честь прусського села Ліхтенау (Lichtenau)." />
  <meta property="og:image"       content="../assets/poster.jpg" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/index.css">