  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Сарата</title>

  <link rel="shortcut icon" href="../assets/sarata/saratskiy-rayon.ico" type="image/x-icon">

  <meta name="description" content="Сарата – посёлок городского типа в Одесской области Украины, основанное в 1940 году." />

  <meta property="og:url"         content="https://sarata.od.ua/" />
  <meta property="og:type"        content="website" />
  <meta property="og:title"       content="Сарата" />
  <meta property="og:description" content="Сарата – посёлок городского типа в Одесской области Украины, основанное в 1940 году." />
  <meta property="og:image"       content="../assets/poster.jpg" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/index.css">